# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#bin obj shit
bin/
obj/
.mdf
.ldf
/CodeFest.NinjaFamily.FamilyTreeApp/App_Data/UsersContext-20150418124710.mdf
/CodeFest.NinjaFamily.FamilyTreeApp/App_Data/UsersContext-20150418124710_log.ldf
/CodeFest.NinjaFamily.FamilyTreeApp/App_Data/aspnet-CodeFest.NinjaFamily.FamilyTreeApp-20150418111641.mdf
/CodeFest.NinjaFamily.FamilyTreeApp/App_Data/aspnet-CodeFest.NinjaFamily.FamilyTreeApp-20150418111641_log.ldf
