body{
  font-family: "futura", arial;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
    max-width: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    
}

.fader{
    position: relative;
    padding-top: 60%;
    overflow: hidden;
    
} 
.fader img {
    width:100%;
}
 
.fader .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
}
 
.fader img.slide{
    height: auto;
}

.fader .prev,
.fader .next{
  position: absolute;
  height: 80px;
  line-height: 55px;
  width: 50px;
  font-size: 100px;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 0;
  z-index: 4;
  margin-top: -25px;
  cursor: pointer;
  opacity: .7;
  transition: all 150ms;
}

.fader .prev:hover,
.fader .next:hover{
  opacity: 1;
}

.fader .next{
  left: auto;
  right: 0;
}

.fader .pager_list{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: center;
  z-index: 4;
}

.fader .pager_list li{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #fff;
  opacity: .7;
  text-indent: -999px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 150ms;
}

.fader .pager_list li:hover,
.fader .pager_list li.active{
  opacity: 1;
}

#touch{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 200px;
    z-index: 999;
    margin-left: 100px;
}


/*Header bar*/

.header-bar{
    height: 10%;
    min-width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    position:fixed;
    top:0%;
    left:0%;
}


.logo img{
    height: 10%;   
}

.login {
    position:absolute;
    left: 80%;
    top: 20%;
    color: rgba(255, 255, 255, 1);

}

.login a{
    color:white;
}

.login a:hover{
    color: #899f39;
}

.login a:active{
    color: #899f39;
}

#header-about{
    padding-left: 20px;
}

#touch {
    margin-left: 20%;
}