@model CodeFest.NinjaFamily.FamilyTreeApp.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<section>
    <div id="slide-register">
        <div id="Fader" class="fader">
            <img class="slide" src="~/Images/Slider/slide1.jpg" />
            <img class="slide" src="~/Images/pic4.png" />
            <img class="slide" src="~/Images/pic3.jpg" />
            </div>
        </div>
        <div id="touch">
            <p style="font-size:250%;font-weight: 500; text-shadow: 2px 2px #546276;width:100%;">GET IN TOUCH.</p>
            <p style="font-size:250%;font-weight: 500; text-shadow: 2px 2px #546276;width:100%;">STAY IN TOUCH.</p>
        </div>
        <div class="register-form">
            <h1 class="reg">Create a new account</h1>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form" }))
            {

                <fieldset class="form-fieldset ui-input __second">
                    @Html.TextBoxFor(m => m.UserName)
                    <label for="UserName">
                        <span data-text="UserName">UserName</span>
                    </label>
                </fieldset>

                <fieldset class="form-fieldset ui-input __third">
                    @Html.PasswordFor(m => m.Password)
                    <label for="new-password">
                        <span data-text="New Password">New Password</span>
                    </label>
                </fieldset>

                <fieldset class="form-fieldset ui-input __fourth">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    <label for="repeat-new-password">
                        <span data-text="Repeat New Password">Repeat New Password</span>
                    </label>
                </fieldset>

                <div class="form-footer">
                    <input type="submit" value="CREATE ACCOUNT" class="btn btn-default" />
                </div>
            }
        </div>
    @*</div>*@
</section>
<section class="features_wrapper">

    <div id="animated-example" class="animated bounceInLeft" data-wow-delay="0.5s">
        <div id="txt">
            <h1>BUILD YOUR FAMILY TREE</h1>
            <h3 style="width:100%; text-align:center;">
                Thousands of miles away, or just around the block, they are your closest. They are your family. Build your tree, grow it, and bring the closest closer!
            </h3>
        </div>
    </div>
    <section class="section--purple wow slideInRight" data-wow-delay="0.5s">
        <div id="feat" class="feat_pic">
            <img src="~/Images/feat.png" />
        </div>
    </section>
    

</section>

<div class="profile_wrapper">
    <div id="animated-example" class="animated bounceInLeft" data-wow-delay="1s">
        <div id="txt1">
            <h1 style="color:#ffffff;">BUILD YOUR FAMILY TREE</h1>
            <h4 style="width:50%; font-size: 90%; margin-left:25%; text-align:center;">
                We are young, enthusiastic people with the idea to show this world is not big enough for families not to get to connect with each other. As you and you newfound family
                members merge your trees, you will realize that wherever you go, you are home. You have family there. We are in this together, we all share something greater.
                We share a Family Tree!
            </h4>
        </div>
    </div>
    <section class="section--blue wow bounceInLeft" data-wow-delay="1s">
        <div id="pic1" class="pic">
            <img src="~/Images/jordan.png" />
        </div>
    </section>
    <section class="section--blue wow bounceInRight" data-wow-delay="1s">
        <div id="pic2" class="pic">
            <img src="~/Images/ivana.png" />
        </div>
    </section>
    <section class="section--blue wow bounceInLeft" data-wow-delay="1s">
        <div id="pic3" class="pic">
            <img src="~/Images/kristijan.png" />
        </div>
    </section>
    <section class="section--blue wow bounceInRight" data-wow-delay="1s">
        <div id="pic4" class="pic">
            <img src="~/Images/kristina.png" />
        </div>
    </section>
    <section class="section--blue wow bounceInLeft" data-wow-delay="1s">
        <div id="pic4" class="pic">
            <img src="~/Images/darko.png" />
        </div>
    </section>
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
}