@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewBag.Title = "Home Page";
    }
        <div id="slide-register">
            <div id="Fader" class="fader">
                <img class="slide" src="~/Images/Slider/slide1.jpg" />
                <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-pingpong2-800x500.jpg" />
                <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-bookcase-800x500.jpg" />
                <img class="slide" src="http://www.barrelny.com/wp-content/uploads/about-office-slide-bikerack-800x500.jpg" />
                <div class="fader_controls">
                    @*<div class="page prev" data-target="prev">&lsaquo;</div>
                    <div class="page next" data-target="next">&rsaquo;</div>
                    <ul class="pager_list"></ul>*@
                </div>
            </div>
            <div id="touch">
                <h1>Get in touch.</h1></br>
                <h1>Stay in touch.</h1>
            </div>
            <div class="register-form">
                <h2>Create a new account</h2>
                <form class="form" action="#">

                    <fieldset class="form-fieldset ui-input __second">
                        <input type="email" id="email" tabindex="0" />
                        <label for="email">
                            <span data-text="E-mail Address">E-mail Address</span>
                        </label>
                    </fieldset>

                    <fieldset class="form-fieldset ui-input __third">
                        <input type="password" id="new-password" />
                        <label for="new-password">
                            <span data-text="New Password">New Password</span>
                        </label>
                    </fieldset>

                    <fieldset class="form-fieldset ui-input __fourth">
                        <input type="password" id="repeat-new-password" />
                        <label for="repeat-new-password">
                            <span data-text="Repeat New Password">Repeat New Password</span>
                        </label>
                    </fieldset>

                    <div class="form-footer">
                        <div class="submit">
                            <a href="#">Create Account </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
  <div class="features_wrapper">
    <section class="section--purple wow slideInLeft" data-wow-delay="2s">
        <div id="animated-example" class="animated bounceInLeft">
            <p>FIND YOUR FAMILY</p>
        </div>
    </section>
    <section class="section--purple wow slideInRight" data-wow-delay="2s">
        <div id="animated-example" class="animated bounceInRight">
            <p>GET NOTIFIED WHEN THEY ARE IN YOUR TOWN</p>
        </div>
    </section>
      <section class="section--purple wow slideInDown" data-wow-delay="0.5s">
          <div id="feat" class="feat_pic">
              <img src="~/Images/feature.jpg" />
          </div>
      </section>
      @*<section class="wow fadeInDown" style="background-color: #f1c40f;">
          <div id="feat" class="feat_pic">
              <img src="~/Images/feature.jpg" />
          </div>
      </section>*@
    <section class="section--purple wow slideInLeft" data-wow-delay="2s">
        <div id="animated-example" class="animated bounceInLeft">
            <p>HEAR THEIR STORIES</p>
        </div>
    </section>
    <section class="section--purple wow slideInRight" data-wow-delay="2s">
        <div id="animated-example" class="animated bounceInRight">
            <p>SHARE YOUR STORY</p>
        </div>
    </section>
    <section class="section--purple wow slideInLeft" data-wow-delay="2s">
        <div id="animated-example" class="animated bounceInLeft">
            <p>ORGINIZE AND ATEND FAMILY EVENT</p>
        </div>
    </section>
    <section class="section--purple wow slideInRight" data-wow-delay="2s">
        <div id="animated-example" class="animated bounceInRight">
            <p>GROW YOUR TREE</p>
        </div>
    </section>
</div>
  
<div class="profile_wrapper">
    <section class="section--blue wow bounceInLeft" data-wow-offset="300">
        <div id="pic1" class="pic">
            <img src="~/Images/2.jpg" />
        </div>
    </section>
    <section class="section--blue wow bounceInRight" data-wow-offset="300">
        <div id="pic2" class="pic">
            <img src="~/Images/1.jpg" />
        </div>
    </section>
    <section class="section--blue wow bounceInLeft" data-wow-offset="300">
        <div id="pic3" class="pic">
            <img src="~/Images/3.jpg" />
        </div>
    </section>
    <section class="section--blue wow bounceInRight" data-wow-offset="300">
        <div id="pic4" class="pic">
            <img src="~/Images/4.jpg" />
        </div>
    </section>
    <section class="section--blue wow bounceInLeft" data-wow-offset="300">
        <div id="pic4" class="pic">
            <img src="~/Images/5.jpg" />
        </div>
    </section>
</div>