@model CodeFest.NinjaFamily.FamilyTreeApp.Models.Relationship

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Relationship</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Parrent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Parrent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Child)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Child)
            </dd>
    
        </dl>
    </div>
</body>
</html>
